src/main/mule/mule-deployment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="086783e7-0ee4-4821-b0c0-e2767c6a1364" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-deploymentFlow" doc:id="71f83f2c-9fe5-4fde-a059-e558d922f8dd" >
		<http:listener doc:name="Listener" doc:id="6858b294-a8d9-4d15-87d7-e737df40d25c" config-ref="HTTP_Listener_config" path="/mule"/>
		<ee:transform doc:name="Transform Message" doc:id="5f613018-5948-4925-a894-ced4a9a00efe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "deployment the application through jenkins"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1bf6ace3-f7a7-4a08-9c1a-b6763f5b8e58" message="#[payload]"/>
	</flow>
</mule>
